# Can't yet be moved to the pyproject.toml due to https://github.com/PyCQA/flake8/issues/234
[flake8]
max-line-length = 88
ignore = 
    # module imported but unused -> Can be required for some API designs
    # F401,
    # line break before a binary operator -> black does not adhere to PEP8
    W503,
    # line break occured after a binary operator -> black does not adhere to PEP8
    W504,
    # line too long -> we accept long comment lines; black gets rid of long code lines
    E501,
    # whitespace before : -> black does not adhere to PEP8
    E203,
    # missing whitespace after ,', ';', or ':' -> black does not adhere to PEP8
    E231,
    # continuation line over-indented for hanging indent -> black does not adhere to PEP8
    E126,
    # E266 too many leading '#' for block comment -> this is fine for indicating sections
    E262,
    # Do not assign a lambda expression, use a def -> Scanpy allows lambda expression assignments,
    E731,
    # allow I, O, l as variable names -> I is the identity matrix, i, j, k, l is reasonable indexing notation
    E741
# per-file-ignores =
exclude =
    .git,
    __pycache__,
    build,
    docs/_build,
    dist,

