# Temp files
.DS_Store
*~
buck-out/
.dmypy.json
temp/

# Compiled files
.venv/
uv.lock
pixi.lock
__pycache__/
.*cache/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/data/
/node_modules/
/.coverage*
/coverage.xml

# docs
/docs/generated/
/docs/_build/
docs/**/generated/
docs/_static/datasets_data.js

# IDEs
/.idea/

# data
*.zarr/

# symlinks (luca) for extending the refactoring to satellite projects
napari-spatialdata
spatialdata-io
spatialdata-notebooks
spatialdata-plot
spatialdata-sandbox

# notebooks
*.ipynb

# version file
_version.py

# agents configurations
.claude/settings.local.json

# benchmarking and profiling
.asv/
profile.speedscope.json
