fail_fast: false
default_language_version:
    python: python3
default_stages:
    - pre-commit
    - pre-push
minimum_pre_commit_version: 2.16.0
ci:
    skip: []
repos:
    - repo: https://github.com/rbubley/mirrors-prettier
      rev: v3.8.1
      hooks:
          - id: prettier
            exclude: ^.github/workflows/test.yaml
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
          - id: mypy
            additional_dependencies: [numpy, types-requests]
            exclude: tests/|docs/
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.14
      hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]
          - id: ruff-format
