name: Test

on:
    push:
        branches: [main]
        tags:
            - "v*"
    pull_request:
        branches: "*"

jobs:
    test:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -e {0}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - {os: windows-latest, python: "3.11", dask-version: "2025.2.0", name: "Dask 2025.2.0"}
                    - {os: windows-latest, python: "3.13", dask-version: "latest", name: "Dask latest"}
                    - {os: ubuntu-latest, python: "3.11", dask-version: "latest", name: "Dask latest"}
                    - {os: ubuntu-latest, python: "3.13", dask-version: "latest", name: "Dask latest"}
                    - {os: macos-latest, python: "3.11", dask-version: "latest", name: "Dask latest"}
                    - {os: macos-latest, python: "3.13", prerelease: "allow", name: "Python 3.13 (pre-release)"}
        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python }}
            DASK_VERSION: ${{ matrix.dask-version }}
            PRERELEASE: ${{ matrix.prerelease }}

        steps:
            - uses: actions/checkout@v2
            - uses: astral-sh/setup-uv@v5
              id: setup-uv
              with:
                  version: "latest"
                  python-version: ${{ matrix.python }}
            - name: Install dependencies
              run: |
                  if [[ "${PRERELEASE}" == "allow" ]]; then
                    uv sync --extra test
                    : # uv sync --extra test --prerelease ${PRERELEASE}
                    uv pip install git+https://github.com/scverse/anndata.git
                    uv pip install --prerelease allow pandas
                  else
                    uv sync --extra test
                  fi
                  if [[ -n "${DASK_VERSION}" ]]; then
                    if [[ "${DASK_VERSION}" == "latest" ]]; then
                      uv pip install --upgrade dask
                    else
                      uv pip install dask==${DASK_VERSION}
                    fi
                  fi
            - name: Test
              env:
                  MPLBACKEND: agg
                  PLATFORM: ${{ matrix.os }}
                  DISPLAY: :42
              run: |
                  uv run pytest --cov --color=yes --cov-report=xml
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                  name: coverage
                  verbose: true
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
