name: Test

on:
    push:
        branches: [main]
        tags:
            - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
    pull_request:
        branches: "*"

jobs:
    test:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -e {0} # -e to fail on error

        strategy:
            fail-fast: false
            matrix:
                python: ["3.11", "3.13"]
                os: [ubuntu-latest]
                include:
                    - os: macos-latest
                      python: "3.11"
                      dask-version: "2025.1.0"
                      name: "Dask 2025.1.0"
                    - os: macos-latest
                      python: "3.11"
                      dask-version: "latest"
                      name: "Dask latest"
                    - os: ubuntu-latest
                      python: "3.11"
                      dask-version: "2025.1.0"
                      name: "Dask 2025.1.0"
                    - os: ubuntu-latest
                      python: "3.11"
                      dask-version: "latest"
                      name: "Dask latest"
                    - os: windows-latest
                      python: "3.11"
                      dask-version: "2025.1.0"
                      name: "Dask 2025.1.0"
                    - os: windows-latest
                      python: "3.11"
                      dask-version: "latest"
                      name: "Dask latest"
                    - os: macos-latest
                      python: "3.12"
                      pip-flags: "--pre"
                      dask-version: "latest"
                      name: "Python 3.12 (pre-release)"

        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python }}

        steps:
            - uses: actions/checkout@v2
            - uses: astral-sh/setup-uv@v5
              id: setup-uv
              with:
                  version: "latest"
                  python-version: ${{ matrix.python }}
            - name: Install dependencies
              run: |
                  uv sync --extra test
                  DASK_VERSION="${{ matrix.dask-version }}"
                  if [[ "${DASK_VERSION}" == "latest" ]]; then
                    uv pip install --upgrade dask
                  elif [[ -n "${DASK_VERSION}" ]]; then
                    uv pip install "dask==${DASK_VERSION}"
                  fi
            - name: Test
              env:
                  MPLBACKEND: agg
                  PLATFORM: ${{ matrix.os }}
                  DISPLAY: :42
              run: |
                  uv run pytest --cov --color=yes --cov-report=xml
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                  name: coverage
                  verbose: true
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
